body{
 background-color: rgb(116, 105, 105);
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 
}

.wrapper{
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    gap:10px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 50px 50px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows:50px auto 50px 50px auto ;
    gap:5px;
}


h1{
    background-color: #333;
    margin: 0;
}
h2, h3{
    background-color: #333;
    color: white;
    padding-top: 5px;
    text-align: center;
    margin: 0;
}

h1 a{
    display: grid;
    height: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(webbfont.woff);
}

section{
    color: white;
    background-color: #333;
}

ul{
    padding: 0;
    background-color: #333;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    
}

ul li{
    
    list-style-type: none;
    display: grid;
}

ul li a {
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    font-family: myFirstFont;
}

.tvåspaltlayout{
    grid-template-columns: 1fr 1fr;
    display: grid;
    
}
p{
    margin:0;
    padding: 10px;
    font-size: 17px;
}

.trespaltlayout{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap:10px;
}

a:hover{
    background-color: #555;
}

.active a{
    background-color: 4CAF50;
}

footer{
   
    display: block;
    background-color: #333;
    padding: 14px 100px;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

img{
    width: 250px;
    height: 300px;
    display: block;
}

@media screen and (max-width: 1150px){
    img{
        width: 225px;
        height: 275px;
        display: block;
    }
}

