body{
 background-color: rgb(116, 105, 105);
 margin: 0;

}

h1{
    background-color: #333;
    margin: 0;
    
    
}

h1 a{
    display: block;
    height: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(webbfont.woff);
}



ul{
    padding: 0;
    background-color: #333;
    text-align: center;
    
}

ul li{
    display: inline-block;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    font-family: myFirstFont;
}

a:hover{
    background-color: #555;
}

.active a{
    background-color: 4CAF50;
}